<div class="d-flex">
<%= form_for(:session, url: new_session_path) do |f| %>
  
   <%= f.label :Username %>
  <%= f.text_field :Username, class: 'form-control', placeholder: 'Enter user name' %>
  <br>
    <%= f.submit "Login", class: 'btn btn-primary'  %>

<% end %>
</div>
