
    <li>
  <img src="<%=user.Photo%>"/> <%= user.Username %>
  
  <span >
    <%= link_to 'See Profile',  user_path(user), class: 'nav-link' %>
    <br>
 <%= render 'following_form'%>
  </span>
</li>

