<li class="list-group-item list-group-item-action">
<div class="d-flex">
<img src='<%= post.user.Photo%>' class="mr-4 tweet_photo">
<div>
<h6><%= post.user.Username%></h6>

<%= post.text%>
<%= link_to "Edit" ,users_path , class: 'nav_link'%>
</div>
</div>

</li>