<div class="d-flex">
<%= form_for(:post, url: posts_path) do |f| %>
  
   <%= f.label :Post %>
 
  <%= f.text_area :text, class: 'form-control', placeholder: 'Enter your opinion here' %>

  <br>
    <%= f.submit "Post", class: 'btn btn-primary'  %>

<% end %>
</div>